<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CALCULADORA DO AMOR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>Digite o primeiro nome:</p>
    <input type="text" name="nome1" [(ngModel)] = "nome1">
    <p>Digite o segundo nome:</p>
    <input type="text" name="nome2" [(ngModel)]="nome2">
  </div>
  <div>
    
   <button type="button" class="btn" (click)="enviarDados()"> Calcular Porcentagem

   </button>

   <p class="text-center">{{resultado}}</p>

   <p class="text-center">{{mensagem}}</p>

   

  </div>

 
</ion-content>
